.transitionWrapper {
  min-height: 100vh;
  width: 100%;
  background-color: #121212;
  position: relative;
  overflow: hidden;
  will-change: opacity, transform;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
